body{
    margin:0;
    padding:0;
    background-color: rgb(164, 165, 165);
}
.topnav{
    padding-top:0;
    padding-bottom:0;
}
.topnavitem{
    padding-left: 2em;
    padding-right:2em;
}

/*NavBarBrandSize Kekw dont forgor*/
.nbbSize{
    font-size:2rem;
}
#title{

    border:10px;
    border-style:groove;
}
a.headerlink{
    color:inherit;
    text-decoration: none;
}
a.listlink{
    color:inherit;
    text-decoration: none;
}
.balldisable{
    list-style-type:none;
}
.normalmargins{
    margin:2rem;
}


.mborder{
    border-style:solid;
    border-color:white;
    border-width:5px;
}
#wikipagetitle{

    border:10px;
    border-style:groove;
}
.scoreimg{
    width:200px;
    padding:0px;
    margin-right:40px;
}