body{
    margin:0;
    padding:0;
    background-color: rgb(164, 165, 165);
}
.topnav{
    padding-top:0;
    padding-bottom:0;
}
.topnavitem{
    padding-left: 2em;
    padding-right:2em;
}

/*NavBarBrandSize Kekw dont forgor*/
.nbbSize{
    font-size:2rem;
}
#title{
    margin-left:25%;
    margin-right:25%;
    border:10px;
    border-style:groove;
}
a.headerlink{
    color:inherit;
    text-decoration: none;
}
a.listlink{
    text-shadow:2px 2px 4px rgb(24, 24, 56);
    color:inherit;
    text-decoration: none;
}

/*Bullet Point in front of list disable*/
.balldisable{
    list-style-type:none;
}
#wikipagetitle{
    text-shadow:2px 2px 4px rgb(24, 24, 56);
    margin-top:50px;
    margin-bottom:50px;
    border:10px;
    border-style:groove;
    padding-top:50px;
    padding-bottom:50px;
    scroll-margin-top: 200px;
}
.wikilinkhead{
    border-bottom:10px;
    border-top:10px;
    border-left: 10px;
    border-right:10px;
    border-style: ridge;
    border-color:white;
    margin-left:20%;
    margin-right:20%;
}
a.wikinav{
    color:inherit;
    text-decoration: none;
    scroll-margin-top: 200px;
}
iframe{
    margin:25px;
}
#here{
    padding:5px;
    border:1px;
    border-radius:5px;
    background-color:rgb(92, 92, 92);
    scroll-margin-top:200px;
}